APItest.sqlite

APIcache.sqlite
app/api/__pycache__/__init__.cpython-37.pyc
app/api/__pycache__/clinic.cpython-37.pyc
app/api/__pycache__/patients.cpython-37.pyc
app/api/__pycache__/physicians.cpython-37.pyc
app/api/__pycache__/prescriptions.cpython-37.pyc
logs/iClinicChallenge.log.9
logs/iClinicChallenge.log
logs/iClinicChallenge.log.1
logs/iClinicChallenge.log.10
logs/iClinicChallenge.log.3
__pycache__/config.cpython-37.pyc
__pycache__/challenge.cpython-37.pyc
app/__pycache__/utils.cpython-37.pyc
app/__pycache__/__init__.cpython-37.pyc
app/__pycache__/models.cpython-37.pyc
database-test.sqlite3
database-devel.sqlite3
.vscode/settings.json
app/templates/base.html
