[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
flask-restful = "*"
requests = "*"
requests-cache = "*"

[requires]
python_version = "3.7"
